@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@400;500;600;700&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Montserrat:wght@500;600;700;800;900&display=swap');

/*
font-family: 'Hind Madurai', sans-serif;
font-family: 'Lora', serif;
font-family: 'Montserrat', sans-serif;
*/

:root {
    --Hind: 'Hind Madurai', sans-serif;
    --Lora: 'Lora', serif;
    --Montserrat: 'Montserrat', sans-serif;
    --Azul: #3F46FD;
    --Amarillo: #FECA09;
}

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.cont {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.contenedor {
    position: relative;
    z-index: 1;
    background-color: var(--Azul);
    width: 450px;
    height: auto;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.titulo {
    font-family: var(--Montserrat);
    font-size: 40px;
    font-weight: bold;
    color: white;
    padding: 40px 0 50px 0;
}

.caja {
    height: 35px;
    width: 280px;
    margin-bottom: 20px;
    border-radius: 50px;
    border-style: none;
    outline: none;
    padding: 0 10px 0 10px;
}

.boton {
    height: 40px;
    width: 100px;
    background-color: var(--Amarillo);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--Hind);
    font-weight: 700;
    color: var(--Azul);
    margin-bottom: 40px;
}

.boton:hover {
    background-color: white;
    color: var(--Azul);
    transition: all 1s;
}

.recuperar{
    color: white;
    font-family: var(--Montserrat);
    font-weight: 700;
    margin-bottom: 50px;
    text-align: center;
}

.recuperar a{
    color: var(--Amarillo);
}

@media (max-width: 500px) {
    .contenedor{
        width: 90%;
    }
    .titulo{
        font-size: 30px;
    }
    .caja{
        width: 85%;
    }
    .recuperar{
        width: 90%;
    }
}